<div class="row m-5">
    <div class="col">
        <h1>*ngIf</h1>
        <hr />
        <div *ngIf="view" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{sentence.author}}</h5>
              <p class="card-text">{{sentence.message}}</p>
            </div>
        </div>
        <button (click)="view=!view" class="btn btn-outline-primary">
            Mostrar / Minimizar
        </button>
    </div>
    <div class="col">
        <h1>ngFor</h1>
        <hr />
        <ul class="list-group">
            <li *ngFor="let person of persons; let i=index" class="list-group-item">{{i+1}} {{person}}</li>
          </ul>
    </div>
</div>